/*////////////// TYPE /////////////*/
body {
    font-family: 'Roboto', sans-serif;
 
    font-size:1.5em;
    background:#F2F2F2;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color:#333333;
}
h1 {
    font-weight: 500;
    font-size:2.1em;
}

h2 {
    font-weight:500;
    font-size:1.9em;
}

h3 {
    font-weight:500;
    font-size:1.5em;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    letter-spacing:1.5px;
    text-transform:uppercase;
    font-size:0.9em;
    color:#538EBB;   
}
/*////////////// TYPE MEDIA QUERIES /////////////*/

/*////////////// END-TYPE /////////////*/

/*////////////// HERO /////////////*/
.hero {
    height:50vh;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
     .hero {
         height:40vh;
     }
     
     .hero-text h1 {
        font-size:1.3em;
    }
}

.hero-text {
    text-align:center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0 auto;
    width:60%;

}

/* Small only */
@media screen and (max-width: 39.9375em) {
     .hero-text {
         width:70%;
     }
     
     .hero-text h1 {
        font-size:1.5em;
    }
}
/*////////////// END-HERO /////////////*/



/*////////////// STATS-BLOCK /////////////*/
.stats-block {
    background:white;
    border:0.5px solid lightgrey;
    border-radius:15px;
    padding-top:2.5em;
    padding-bottom:0.5em;
    width:60%;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:-50px;
    left: 0;
    right: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);

}

.stats-cell h5 {
    font-family: 'Roboto', sans-serif;
    font-weight:500;
    font-size:2em;
    line-height:15px;

}

.stats-cell p {
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:0.9em;
}
/*////////////// STATS MEDIA QUERIES /////////////*/

/* Small only */
@media screen and (max-width: 39.9375em) {
     .stats-cell h5 {
        font-size:1.5em;
    }
    .stats-cell p {
        font-size:0.7em;
    }
  
}
   
/* Medium and up */
@media screen and (min-width: 40em) {
  body {
        font-size: 0.85em;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
   body {
        font-size: 0.95em;
    }
}
/*XXXXXXXXXX END NAVIGATION-BLOCK XXXXXXXXXXX*/
/*////////////// USERS-BLOCK /////////////*/

.users-block {
    padding-top:2.em;
    padding-bottom:2.em;
    margin-top:2.5em;
    margin-bottom:2.5em;
}
/*///////////// LOGOS /////////////*/
.users {
margin: 0 auto;
padding:15px 0 15px 0;
opacity:0.3;
}
/*////////////// LOGO MEDIA QUERIES /////////////*/

/* Small only */
@media screen and (max-width: 39.9375em) {
     .users {
        width: 90%;
    }
}
   
/* Medium and up */
@media screen and (min-width: 40em) {
    .users {
        width: 80%;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .users {
        width: 80%;
    }
    .users-text {
        font-size:1.2em;
    }
}
/*///////////// FIRST GRIDS  /////////////*/
.nest {

    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.04);
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 8px;
    padding: 45px 50px 75px 50px;
}
/*XXXXXXXXXX END USERS-BLOCK XXXXXXXXXXX*/

/*////////////// FEATURES-BLOCK /////////////*/
.features-block-grid {
padding-top:40px;
}

.features-text-1, .features-text-2 {
    padding-left:5%;
    padding-right:5%;
}

/*////////////// FEATURES MEDIA QUERIES /////////////*/
/* Small only */
@media screen and (max-width: 39.9375em) {
     body {
        font-size: 1em;
    }
}
   
/* Medium and up */
@media screen and (min-width: 40em) {
  body {
        font-size: 0.85em;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
   body {
        font-size: 0.95em;
    }
}
/*XXXXXXXXXX END FEATURES-BLOCK XXXXXXXXXXX*/

/*////////////// TESTIMONIAL-BLOCK /////////////*/
.testimonial-block-vertical-quote {
  background: #fcfcfc;
  padding: 1.3rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  border: 1px solid rgba(0,0,0,0.09);
  border-radius: 8px;
  margin-bottom: 1.875rem;
  position: relative;
}

.testimonial-block-vertical-quote p {
  margin-bottom: 0;
  font-size:0.9em;
}

.testimonial-block-vertical-person {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.65rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-block-vertical-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.testimonial-block-vertical-name {
 
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0.65rem;
}

.testimonial-block-vertical-info {
  
  font-size: 14px;
  color: #8a8a8a;
  margin-bottom: 0;
  margin-left: 0.65rem;
}
/*XXXXXXXXXX END TESTIMONIAL-BLOCK XXXXXXXXXXX*/

/*////////////// NAVIGATION-BLOCK /////////////*/
.topbar-responsive {
  background:white;
  padding: 1rem 1.5rem;    
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
}

.topbar-responsive .topbar-responsive-logo {
  color: #333333;
  vertical-align: middle;
  font-size:1.2em;
  font-weight:500;
}

.topbar-responsive .menu {
  background:white;
  font-size:1.2em;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #333333;
  transition: color 0.01s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #cdcdcd;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #333333;
  border-color: lightgrey;
  border-radius: 10px;
  transition: color 0.01s ease-in, border-color 0.01s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: black;
  border-color: #c6d1d8;
  background:#f4f4f4;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}
.top-bar-right ul li a {
    font-size:.9em
    }
/*XXXXXXXXXX END NAVIGATION-BLOCK XXXXXXXXXXX*/